<div class="nft">
    <div class="imageeq">
        <img src="assets/images/image-equilibrium.jpg">
    </div>
    <div class="text">
        <div class="title">
            <h3>Equilibrium #3429</h3>
        </div>
        <div class="paragraf">
            <p>Our Equilibrium collection promotes balance and calm.</p>
        </div>
        <div class="imageEth">
            <img src="assets/images/icon-ethereum.svg">
            <div class="Eth">
                <h5>0.041 ETH</h5>
            </div>
            <div class="daysLeft">
                <img src="assets/images/icon-clock.svg">
                <h5>3 days left</h5>
            </div>
        </div>
        <hr>
        <div class="footer">
            <img src="assets/images/image-avatar.png">
            <div class="creation">
                <h5>Creation of</h5>
            </div>
            <div class="jules">
                <h5>Jules Wyvern</h5>
            </div>
        </div>
    </div>
</div>